@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@font-face {
  font-family: Hagrid;
  src: url('./fonts/Hagrid.ttf');
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

.bannerBg{
  background-image: linear-gradient(to bottom, rgba(0, 38, 255, 0.371), rgba(0, 38, 255, 0.371),rgba(0, 0, 0, 0.89)),url('./assets/bannerImage2.png');
  background-size: cover;
  background-position: center;
  background-repeat: 'no-repeat';
}

.hagrid{
  font-family: 'Hagrid', sans-serif;
}

.main{
  position: relative;
  display: flex;
  height: 100vh;
  margin-bottom: 100vh;
  overflow: hidden;
}

.main img{
  object-fit: cover;
}

.sliderContainer{
  position: absolute;
  top: calc(100vh + 20px);
}

.slider{
  position: relative;
  white-space: nowrap;
}

.slider p{
  position: relative;
  margin: 0px;
  color: white;
  font-size: 50px;
  font-weight: 500;
  padding-right: 50px;
}

.slider p:nth-of-type(4){
  position: absolute;
  left: 100%;
  top: 0;
}


.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .8);
  /* margin: 0 auto; */
}

.modal-content {
  width: 500px;
  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background: #000;
  gap: 30px;
}

button{
  cursor: pointer
}